body {
  background-color: #fff6bf;
}
h1,
p {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.link-homepage,
.link-photo,
.link-contact {
  padding: 20px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
